@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Matemasie&family=Moderustic:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  outline: none;
}

body {
  padding-top: 100px; 
}

.package-container {
  margin-left: 40px;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

.package-title {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  color: #000;
  margin-bottom: 10px;
}

.details {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.details p {
  border: 1px solid #524e4e;
  padding: 10px;
  border-radius: 10px;
}

.details strong {
  color: #419156;
}

.slider-container {
  margin: 20px 0;
}

.main-image {
  width: 60%;
  height: 300px;
  border-radius: 10px;
}

.thumbnail-slider {
  margin-top: 10px;
}

.thumbnail-image {
  width: 100px;
  height: 75px;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
}

.itinerary {
  margin-bottom: 50px;
}

.itinerary h3 {
  font-family: "Playfair Display", serif;
  padding-bottom: 5px;
  font-size: 30px;
  color: #000;
  margin-top: 50px;
}

.itinerary-item {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #524e4e;
  border-radius: 15px;
}

.itinerary-item h4 {
  color: #419156;
  cursor: pointer; 
  padding-bottom: 5px;
}

.itinerary-details {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.itinerary-details.open {
  max-height: 200px; 
  opacity: 1;
}

.package-description {
  font-size: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .package-container {
    margin-left: 20px;
    padding: 10px;
  }

  .package-title {
    font-size: 30px;
  }

  .details {
    flex-direction: column;
  }

  .main-image {
    width: 100%;
    height: auto;
  }

  .itinerary h3 {
    font-size: 24px;
  }

  .thumbnail-image {
    width: 80px;
    height: 60px;
  }

  .itinerary-item {
    padding: 5px;
  }
}
