body, h1, h2, p, img, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    color: #524e4e;
  }
  
  .title-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
  }
  
  .content_div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
  }
  
  .content_div h2 {
    font-family: "Matemasie", sans-serif;
    font-size: 50px;
    margin: 0;
    transition: 0.5s;
  }
  
  .content_div h2:hover {
    -webkit-text-stroke: 2px #ffff;
    color: transparent;
  }
  
  .content_div p {
    font-size: large;
  }
  
  /* Jumbotron Styling */
  .jumbotron {
    position: relative;
    margin-top: calc(100vh + 10px); 
    padding: 50px;
    z-index: 0; 
  }
  
  .jumbotron h1 {
    margin-left: 90px;
    color: #413e3e;
    font-family: "Playfair Display", serif;
    margin-top: 80px;
  }
  
  /* Menu Styling */
  .menu {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
    position: relative;
  }
  
  li{
    text-decoration: none;
  }
  
  .jumbotron .menu .ll {
    color: #524e4e;
    text-decoration: none;
  }
  
  .jumbotron .menu .ll:hover {
    color: #357d44;
  }
  
  
  /* Content Area Styling */
  .content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 30px;
  }
  
  .content h1 {
    font-family: "Playfair Display", serif;
    margin-top: 20px;
  }
  
  .content p {
    color: #524e4e;
    margin-top: 0;
    line-height: 1.5;
    max-width: 60%;
  }
  
  .content img {
    border-radius: 20px;
    max-width: 300px;
    height: auto;
    flex-shrink: 0;
  }
  
  .contents--act p {
    margin-top: 25px;
    color: #524e4e;
    margin-left: 80px;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 1200px) {
    .jumbotron h1 {
      text-align: center;
      margin-left: 50px;
      margin-top: 60px;
    }
    
    .content {
      flex-direction: column;
      align-items: center;
    }
  
    .content img {
      max-width: 250px;
      margin-bottom: 20px;
    }
    
    .content p {
      max-width: 80%;
    }
  
    .content_div h2 {
      font-size: 40px;
    }
  }
  
  @media (max-width: 768px) {
    .jumbotron h1 {
      text-align: center;
      margin-left: 30px;
      margin-top: 40px;
    }
    
    .content_div h2 {
      font-size: 30px;
    }
  
    .content_div p {
      font-size: medium;
    }
  
  
    .menu {
      flex-direction: row; 
      justify-content: center;
      gap: 10px; 
    }
  
    .menu h4 {
      font-size: 14px; 
    }
  
  
    .content p {
      max-width: 90%;
    }
    
    .contents--act p {
      margin-left: 20px;
      margin-top: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .content_div h2 {
      text-align: center;
      font-size: 24px;
    }
  
    .content_div p {
      font-size: small;
    }
  
    .content p {
      max-width: 100%;
      text-align: center;
    }
  
    .content img {
      max-width: 100%;
    }
  
    .jumbotron {
      padding: 30px;
    }
  
    .jumbotron h1 {
      margin-left: 10px;
      margin-top: 20px;
      font-size: 24px;
    }
  }

  .view-pack {
    background-color: transparent;
    color: #524e4e;
    border: 1px solid #524e4e;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
    transition: color 0.3s ease;
  }
  
  .view-pack:hover {
    color: #000;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  